<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <h2>Welcome!</h2>

        <div class="tabs">
            <a href="#" class="active">Sign In</a>
            <a href="register.html">Register</a>
        </div>

        <form>
            <input type="text" placeholder="Enter Username" required>
            <input type="password" placeholder="Enter Password" required>

            <button type="submit">Login</button>
        </form>

        <div class="bottom">
            Don't have an account? <a href="register.html">Create one</a>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>