<!DOCTYPE html>
<html>

<head>
    <title>Register Page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <h2>Create Account</h2>

        <div class="tabs">
            <a href="login.html">Sign In</a>
            <a href="#" class="active">Register</a>
        </div>

        <form>
            <input type="text" placeholder="Full Name" required>
            <input type="email" placeholder="Email Address" required>
            <input type="text" placeholder="Username" required>
            <input type="password" placeholder="Password" required>
            <input type="password" placeholder="Confirm Password" required>

            <button type="submit">Register</button>
        </form>

        <div class="bottom">
            Already have an account? <a href="login.html">Sign In</a>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>